@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #efefef;
    --text-main: #333333;
    --color-accent-light: #afc860;
    --color-accent-dark: #1b260f;
}

body {
    overflow-x: hidden;
}


/* Fonts */
.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-italic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-semi-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}



.lora-normal {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lora-italic {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.lora-bold {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


/* Reset di base per eliminare i margini predefiniti */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
}

/* Stili dell'Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Contenitore del Logo / Immagine */
.header-logo img {
    height: 50px;
    /* Regola l'altezza in base alle tue esigenze */
    width: auto;
    display: block;
}

/* Navigazione */
.header-nav ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    /* Spazio tra le voci di menu */
}

.header-nav a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

/* Effetto Hover sui Link */
.header-nav a:hover {
    color: var(--color-accent-light);
    cursor: pointer;
    /* Colore che richiama un accento moderno */
}





